doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='onlinetherapy.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css', integrity='sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==', crossorigin='anonymous', referrerpolicy='no-referrer')
		title Online Therapy
	body
		nav
			input(type='checkbox', id='check')
			label.checkbtn(for='check')
				i.fa.fa-bars(aria-hidden='true')
			a.fgalogo(href='#')
			label.logo TOF-ONLINETHERAPY
			ul.menus
				li
					a.active(href='#') Home
				li
					a.active(href='Therapists.html') Therapists
				li
					a.active(href='profile.html') Profile
				li
					a(href='#Sign')
						span.signbtn Loginnow
	section#maintop.list
		.lister
			.card-container1
				div
					.card1
						.card-body1
							.details
								div
									h1 TOF-ONLINETHERAPY is your best place to get virtual therapy assistant
								div.title
									h1 .
							p.card-text1 Get the support you deserve, from the comfort of your own home. We offer confidential, effective online therapy to help you navigate life's challenges and reach your mental health goals.
							a.btn-primary1(href='') Find Therapists
								i.fa-solid.fa-arrow-down.fa-bounce
	section.services
		div
			h1.SO SERVICES OFFERED
			p Our Online therapy will provide a safe, convenient and easy way to get mental health support remotely. It basically involves sessions conducted through video calls, phone calls, or messaging platforms. Our Online therapy can help people with  various mental health concerns, including:
			ul
				li Depression
				li Anxiety
				li Stress
				li Relationship issues
				li Family conflicts
				li Grief and loss
		.service-cards
			.card
				img(src='assets/marriage.jpg', alt='Marriage Counselling')
				h2 Marriage Counselling
			.card
				img(src='assets/therapist_or_friend_talking_to_sad_man.jpg', alt='Depression Counselling')
				h2 Depression Counselling
			.card
				img(src='assets/anxiety.jpg', alt='Anxiety Counselling')
				h2 Anxiety Counselling
			.card
				img(src='assets/lonely.jpg', alt='Loneliness Counselling')
				h2 Loneliness Counselling


      
       
        
                        
            
                              
                         
                   

        
